@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
:root {
  --text-hero: #121212;
  --text-hero_1: #1e1e1e;

  --text-sub_1: #776a41;
  --text-sub_2: #737373;

  --text-button: #ffffff;
  --text-button_1: #616161;

  --hero-color: #ffd700;
  --sub-hero-color: #facf25;

  --button-color: #4c19ff;

  --card-color: #ffef96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  z-index: 2;
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  color: var(--text-hero);
}

button {
  border: none;
  background-color: transparent;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  overflow-x: hidden;
}

/* for navbar  */
.my-navbar {
  z-index: 998 !important;
  position: fixed;
}

.nav-link.active {
  position: relative;
  font-weight: 700;
}

.navbar .nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  /* Adjust to match your link padding */
}

.nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 8px;
  left: 45%;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--text-hero);
}

.hide-navbar {
  transform: translateY(-100%);
}

.show-navbar {
  transform: translateY(0);
}

.home-sec {
  background-color: var(--hero-color);
  min-height: 100vh !important;
  padding-top: 100px;
  padding-bottom: 240px;
  overflow-x: hidden;
}

.navtitle {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 39.49px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-hero);
  margin-left: 8px;
}

.my-navbar svg {
  height: 36px;
  top: 34px;
  left: 109px;
}

/* for footer  */

.my-footer {
  /* position: absolute; */
  width: 100%;
  z-index: 999;
  bottom: 0;
  background-color: var(--hero-color);
  padding-top: 100px;
  border-top: 2px solid var(--black);
}

.icon_links {
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon_links svg {
  margin: 20px;
}

.contactButton {
  color: var(--text-button);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: var(--button-color);
}

.hero-font {
  position: relative;
  padding: 0;
  margin-bottom: 18px;
  font-family: "Playwrite AU SA", sans-serif;
  font-size: 56px;
  line-height: 145%;
  transform: translateX(-10px);
}

.hero-about {
  margin-bottom: 24px;
  color: var(--text-sub_1);
}

.hero-button {
  background-color: var(--button-color);
  color: var(--text-button);
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
}

.hero-button-icon {
  height: 14px;
  margin-left: 12px;
  transform: translateY(-2px);
}

.hero-img {
  width: 104%;
  position: absolute;
  right: -12%;
}

.relative {
  position: relative;
}

.courses {
  background-color: var(--text-button);
}

.home-card-container {
  transform: translateY(-200px);
  background-color: var(--card-color);
  border-radius: 8px;
  margin-top: 10px;
  padding: 24px 32px;
}

.card-img-container {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}

.card-img {
  height: 100%;
  width: 100%;
  transform: translateX(-5px);
}

.small-font {
  font-size: 24px;
  transform: translateX(0);
}

.underline {
  padding-bottom: 25px;
  position: relative;
}

.underline::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 60px;
  background-color: #eeb30b;
  bottom: 0;
  left: 0;
}

.card-about {
  color: var(--text-sub_1);
}

.course-icon {
  height: 60px;
  margin-right: 16px;
}

.course-container {
  height: 100%;
  transform: translateY(-8%);
}

.course-descr {
  margin: 100px 0;
  padding: 80px !important;
  border-radius: 6px;
  background-color: var(--hero-color);
}

.testimonial-card {
  background-color: var(--hero-color);
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 100px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonial-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
  border: 1px solid var(--text-sub_2);
}

.testimonial-text {
  font-size: 16px;
  padding: 0 60px;
  margin-bottom: 6px;
  color: var(--text-sub_1);
}

.testimonial-rating {
  color: var(--button-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial-tag {
  color: #555;
  font-size: 14px;
}

.courses-icon {
  position: absolute;
  width: 15%;
}

.nav-arrow {
  height: 70px;
  width: 70px;
  opacity: 1;
  padding: 20px;
  border-radius: 100%;
  background-color: var(--button-color);
}

.nav-arrow > svg {
  height: 100%;
}

#i1 {
  right: 0;
  transform: translateY(-90%);
}

#i2 {
  left: -0;
  width: 10%;
  transform: translateY(50%);
}

#i3 {
  width: 10%;
  right: 0;
  transform: translateY(220px);
}

.course-icon-about {
  font-weight: 700;
  font-size: 1.2rem;
}

.about-us {
  padding-top: 100px;
}

.main-sec {
  background-color: var(--hero-color);
  height: 600px;
  width: 100%;
  padding-top: 100px;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
  margin-bottom: 280px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.aboutus-img {
  height: 500px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.success-title {
  font-weight: 600;
  font-size: 1.4rem;
}

.mymargintop {
  margin-top: 100px !important;
}
.meet-img {
  width: 80%;
  margin-top: 30px;
}
.location-container {
  background-color: var(--hero-color);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px !important;
}
.location-card {
  padding: 50px;
}
.location-title {
  font-weight: 600;
  font-size: 2rem;
}
.mail-card {
  padding: 64px 32px;
  border-radius: 12px;
  background-color: #4c19ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateY(50%);
}
.my-footer {
  display: flex;
  align-items: end;
}
.web-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 20px 0;
  margin-top: 60px;
  border-bottom: 1px solid black;
}
.links-container {
  display: flex;
  flex-direction: row;
}
.links-container > a {
  color: var(--text-hero);
  padding: 16px 32px;
  position: relative;
  border-right: 2px solid var(--text-sub_1);
  cursor: pointer;
  text-decoration: none;
}
.social-links {
  transform: translateY(-20%);
}
.social-links > svg {
  height: 30px;
  cursor: pointer;
  margin-right: 15px;
}
.tick-icon {
  height: 25px;
  transform: translateY(10%) translateX(-50%);
}
.courses_positioning{
  height: auto;
  background-color: var(--text-button);
  flex-wrap: wrap;
  margin-top: 70px;
  min-height: 100vh;
  overflow-x: hidden;
}
.download-icon{
  height: 16px !important;
  transform: translateY(-5%);
}
.hero-button{
  transition: all 0.8s;
  position: relative;
  overflow: hidden;
}
.hero-button::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--text-sub_1);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.secondary-button{
  transition: all 0.5s ease-in-out;
}
.secondary-button.hero-button::after{
  background-color: var(--text-button_1);
}
.secondary-button:hover{
  color: var(--text-button) !important;
}
.hero-button:hover.hero-button::after{
  width: 100%;
}
@media screen and (max-width: 1300px) {
  .hero-font {
    font-size: 48px;
  }

  .small-font {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .meet-img {
    transform: translateX(-5%);
  }
  .course-container {
    transform: translateY(0);
  }

  .hero-img {
    width: 100%;
  }

  .hero-img-padd {
    margin-top: 30px;
    padding-bottom: 100%;
  }

  .hero-font {
    font-size: 40px;
  }

  .hero-about {
    font-size: 16px;
  }

  .hero-button-icon {
    height: 16px;
  }

  .container {
    padding: 0 4% !important;
  }

  .hero-img {
    right: 0;
  }

  .home-sec {
    padding-top: 80px;
    padding-bottom: 180px;
  }

  .hero-font {
    transform: translateX(-2px);
    margin-top: 00px !important;
  }

  .small-font {
    font-size: 24px;
  }

  .home-card-container {
    transform: translateY(-200px);
  }

  .testimonial-card {
    width: 60%;
    padding: 10px;
  }

  .testimonial-text {
    padding: 5px;
  }

  .courses-icon {
    width: 20%;
  }

  #i2 {
    width: 12%;
  }

  #i3 {
    transform: translateY(280px);
    width: 15%;
  }

  .main-sec {
    margin-bottom: 350px;
  }

  .mymargintop {
    margin-top: 50px !important;
  }
  .meet-img {
    width: 100%;
  }
  .location-card {
    padding: 30px;
  }
  .location-title {
    font-weight: 600;
    font-size: 1.6rem;
  }
  .my-navbar {
    background-color: var(--hero-color) !important;
  }
  .nav-link.active::after {
    display: none !important;
  }

  .web-links {
    flex-direction: column;
  }
  .links-container {
    flex-direction: column;
  }
  .links-container > a {
    padding-left: 0;
    border: none;
    margin: 10px 0;
    border-bottom: 1px solid var(--text-sub_1);
  }
  .web-links {
    border-bottom: 0;
  }
  .social-links > svg {
    margin-bottom: 10px;
  }
  .courses_positioning{
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .hero-font {
    font-size: 30px;
  }

  .course-descr {
    padding: 35px !important;
  }
}

@media screen and (max-width: 546px) {
  .navtitle {
    font-size: 1rem;
  }

  .nav-icon {
    height: 1.5rem !important;
  }

  .hero-font {
    font-size: 1.5rem;
  }
  .course-icon {
    height: 40px;
    margin-right: 4px;
  }
  .course-icon-about {
    font-size: 0.8rem;
  }
  .testimonial-card {
    width: 100%;
  }
  .nav-arrow {
    height: 25px;
    width: 25px;
    padding: 0;
  }
  .main-sec {
    height: 800px;
  }
  .location-card {
    padding: 20px;
  }
  .location-title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 546px) {
  .navtitle {
    font-size: 1rem;
  }

  .nav-icon {
    height: 1.5rem !important;
  }

  .hero-font {
    font-size: 1.5rem;
  }
  .course-icon {
    height: 40px;
    margin-right: 4px;
  }
  .course-icon-about {
    font-size: 0.8rem;
  }
  .testimonial-card {
    width: 100%;
  }
  .nav-arrow {
    height: 25px;
    width: 25px;
    padding: 0;
  }
}
@media screen and (max-width: 375px) {
  .hero-button {
    padding: 8px 20px !important;
  }
}

/* for courses  */
.heroText {
  font-family: "Playwrite AU SA", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 85px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-hero);
}

.subheroText {
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.Courses_Container {
  padding: 56px;
  padding-top: 0 !important;
}
.imageAlign {
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
}
.imageAlign1 {
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
}

.Courses_Button_Left span {
  margin-right: 8px;
  color: var(--text-button);
  font-family: Poppins;
}
.Courses_Button_Right {
  margin-top: 10px;
  padding: 21px 48px;
  background-color: var(--text-button);
  color: var(--text-button_1);
  border: 2px solid var(--button-color);
}
.courses-title{
  margin-top: 60px !important;
}
@media (max-width: 991px) {
  .item-1 {
    order: 1;
    flex-basis: 100%;
  }
  .item-2 {
    order: 2;
    flex-basis: 100%;
  }
  .Courses_Container {
    padding-top: 80px!important;
    
    padding-bottom: 80px!important;
  }
  .heroText {
    font-size: 48px;
  }
  .imageAlign {
    display: flex;
    justify-content: center;
  }
  .subheroText {
    font-size: 1rem;
  }
  .tick-icon {
    transform: translateX(-8%) translateY(20%);
    margin-right: 5px;
    height: 20px;
  }
  .courses-title{
    margin-top: 35px !important;
  }
}

.imageAlign1 {
  display: flex;
  justify-content: center;
}


/* for quiz */
.userform{
  border : 1px solid var(--button-color) !important;
}


.question-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  gap: 15px; 
  margin-top: 20px;
}

.question-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f8f9fa;
  transition: background-color 0.3s, border-color 0.3s;
}

.question-box.highlighted {
  background-color: var(--card-color);
  color: var(--text-hero);
}

.question-box:hover {
  background-color: #e2e6ea;
  border-color: #adb5bd;
}


.answer-box {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navigation-buttons {
  display: flex;
  justify-content: flex-start;
}

.navigation-buttons button {
  font-size: 1rem;
}
/* using button  */
.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-button {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  
}

.option-button:hover{
  background-color: unset;
}
@media (max-width: 768px) {
  .option-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .option-button {
    font-size: 0.8rem;
  }
}


/* using radio button  */
/* .options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.form-check-label {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .form-check-label {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .form-check-label {
    font-size: 0.8rem;
  }
} */

.result-card {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.congo-ani{
  position: relative;
}
.congo-ani canvas{
  width: 100%;
}

.box-correct {
  background-color: #d4edda;
  border-color: #28a745;
  color: #155724;
}

.box-incorrect {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
}

.table-success {
  background-color: #d4edda !important;
}

.table-danger {
  background-color: #f8d7da !important;
}

/* result details */
.details-view{
  padding-top: 100px;
}



@media (max-width: 768px) {
  .question-box {
    font-size: 14px;
    height: 45px;
  }
}

@media (max-width: 576px) {
  .question-box {
    font-size: 12px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .question-boxes {
   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
  }
}