:root {
 --b: var(--button-color);  
  --s: 2s;
  
}

.body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background: var(--b); 
}

.body > h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffd700;
  margin: 20px;

  font-size: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.content {
  width: 50vmin;
  height: 50vmin;
  perspective: 1000vmin;
}
